$title-font-size: 15px;
$title-text-padding: .5rem;
$card-vert-container-margin: 1rem;
$card-border-radius: 10px;
$card-image-border-radius: 5px;
$card-max-width: 15vw;
$card-max-height: 40vh;
$card-image-max-width: 100%;
$card-image-max-width: 100%;
$card-image-max-height: 100%;
