$primary-color: rgba(27,197,189,.3);
$recruiter-card-highlight-color: rgb(23, 235, 224);
$vacancy-card-highlight-color: #1f6dbb;
$card-muted-text-color: #7e8299;
$card-container-background-color: white; //rgba(229,234,240);
$recruiters-card-font-color:  #1bc5bd;
$vacancies-card-font-color: #3699ff;
$toolbar-color: #eeeeee;
$toolbar-login-button-color: rgba(27,197,189,.3);
$danger-color: #f64e60;
$card-background-color:#F3F6F9;
$recruiters-header-color: rgba(27,197,189,.3);
$vacancies-header-color: rgba(54,153,255,.3);

