/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "~@angular/material/theming";

$poppins-typography: mat-typography-config(
  $font-family: "Poppins, Roboto, sans-serif",
);
@include angular-material-typography($poppins-typography);
body {
  margin: 0;
  background-color: #e4e6ef;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}
