a {
  text-decoration: none;
  font-size: 14px;
  color: grey;
}
a:visited {
  color: grey;
}
a:not(:last-child):after {
  content: "\2022";
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
a:hover {
  color: #3699ff;
}
.page-name {
  font-size: 18px;
  margin-right: 15px;
}
.svg-icon-success {
  fill: rgb(27, 197, 189);
}
.mat-button {
  color: #3699ff;
  background-color: #e1f0ff;
}
.mat-button:hover {
  color: #fff;
  background-color: #3699ff;
}
